language: c

install: true

branches:
  only:
    - master
    - dev

before_install:
    - sudo add-apt-repository -y ppa:snaipewastaken/ppa
    - sudo apt-get update -q
    - sudo apt-get install criterion-dev -y

jobs:
  include:
    - stage: build
      script: make clean all
    - stage: test
      script:
          - make clean all
          - make -C tests/ clean all
          - tests/test-libtrie
      
